@keyframes squish {
	0%, 100% {
		height: 30px;
	}
	50% {
		height: 100px;
		box-shadow: -10px -10px 0 5px black;
		scale: 1.1;
	}
}
.loader {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	height: 400px;
	width: 200px;
	gap: 30px;
}

.rect {
	height: 30px;
	width: 50px;
	animation: squish 1.5s infinite; /* you can try experimenting with the duration and animation-iteration-count here */;
	box-shadow: 10px 10px 0 5px black;
}

.rect:nth-child(1) {
	background-color: #e26ee5;
}

.rect:nth-child(2) {
	background-color: #7e30e1;
	animation-delay: 200ms;
}

.rect:nth-child(3) {
	background-color: #49108b;
	animation-delay: 400ms;
}
#container{
    display: none;
    width: 700px;
}
.header{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.header div{
    display: flex;
}
h4{
    color: #7e30e1;
}
.header div span{
    text-align: center;
    margin-left: 8px;
    padding: 0px 3px;
    display: inline-block;
    width: 25px;
    line-height: 18.85px;
    height: 18px;
    background: rgb(4,24,68);
    background: linear-gradient(18deg, rgba(4,24,68,0.9752275910364145) 10%, rgba(36,218,133,0.9780287114845938) 63%);
    font-weight: 500;
    border-radius: 30px;
}
#Question-Box{
    margin-top: 4rem;
    display: flex;
    flex-direction: column; 
}
#Question-Box p{
    font-size: larger;
    color: rgb(235, 231, 231);
    margin-bottom: 2rem;
    text-align: left;
    background-color: rgb(101, 67, 194);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
.Answere-button{
    box-shadow: 1px 1px 5px 1px #000000;
    font-size: large;
    color: rgb(26, 26, 26);
    margin-top: 0.75rem;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border: 2px rgba(255, 255, 255, 0) solid;
    border-radius: 20px;
    padding: 10px 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.Answere-button:hover{
    background-color: #e0c1ff;
    box-shadow: 1px 1px 5px 1px #ffffff;
    border: 2px rgb(115, 74, 143) solid;
}
#finito-btn , #nexto-btn {
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 1px 5px 1px #ffffff;
    color: rgb(107, 43, 226);
    margin-top: 1.5rem;
    margin-right: 1.25rem;
    padding: 15px;
    background-color: #fbf6ff;
    border: 2px rgb(113, 43, 226) solid;
    border-radius: 30px;
    transition: all 0.5s ease;
}
#finito-btn:hover,#nexto-btn:hover{
    box-shadow: 1px 1px 5px 1px #4b0d53;
}
.rightansw{
    background-color: rgb(28, 230, 129)
}
.wrongansw{
    background-Color : rgb(250, 43, 43)
}
