*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    place-items: center;
    margin: auto;
    max-width: 1500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 4rem;
}
h1{
    color: blueviolet;
}
a{
    box-shadow: 1px 1px 5px 1px #000000;
    width: 290px;
    text-align: center;
    text-decoration: none;
    color: rgb(4, 51, 0);
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(100, 109, 17, 0.801);
    transition: 0.5s all ease;
}
a:hover{
    background-color: #5e3f1cb6;
    box-shadow: 7px 4px 5px 1px #371c44;
}
