@font-face {
    font-family: AlertThing;
    src: url("../WinterDrink-DOr51.ttf");
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes AnimationName {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes progress {
    100% {
      right: 100%;
    }
  }
body{
    overflow-x: hidden;
}
a{
    margin-top: 2rem;
    width: fit-content;
    padding: 1rem 7rem;
    border: 2px solid palevioletred;
    border-radius: 6%;
    transition: all 1s ease;
    background-color: white;
    text-decoration: none;
    color: rgb(72, 0, 94);
}
a:hover{
    color: rgb(253, 255, 120) ;
    cursor: pointer;
    background-color: rgb(143, 157, 196);
    border-color: rgb(0, 0, 0);
}
.toast {
    opacity: 0;
    position: absolute;
    width: 450px;
    top: 25px;
    right: 30px;
    border-radius: 13px;
    background: linear-gradient(59deg, #12349f, #ac2c91, #520b4c, #0239b0);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 3px 3px 2px #3300aaaf;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
  
  .toast.active {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .toast .toast-content {
    display: flex;
    align-items: center;
  }
  
  .toast-content .message {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }
  
  .message .text {
    font-size: 23px;
    color: #ebe700b6;
    font-family: AlertThing;
  }
  
  .message .text.text-1 {
    margin: 0 10px;
    text-align: center;
    font-weight: 600;
    color: #333;
  }
  .message .text.text-2{
    margin: 0 100px;
  }
  .toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
  }
  .toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #9669ffb6;
  }
  
  .progress.active:before {
    animation: progress 6s linear forwards;
  }
  
  
