ol{
    width: 450px;
}
li{
    display: flex;
    justify-content: space-between;
    background-color: rgb(134, 138, 177);
    margin-top: 20px;
    border-radius: 15px;
    padding: 12px 25px;
    height: 100%;
    align-items: center;
}
li div{
    display: flex;
    gap: 15px;
    height: 100%;
    align-items: center;
}
li div :first-child{
    background-color: rgb(41, 37, 102);
    border-radius: 30%;
    padding: 10px;
    line-height: 10px;
    color: rgb(30, 210, 150);
}
li>span{
    background-color: rgba(70, 190, 190, 0.685);
    padding: 0.75rem 0.5rem;
    line-height: 0.75rem;
    text-align: center;
    border-radius: 50%;
    color: rgb(95, 3, 182);
}